.draggable-box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: grab;
}

.draggable-box:nth-child(2) {
    top: 200px;
    left: 200px;
}

.draggable-box:nth-child(3) {
    top: 350px;
    left: 350px;
}