.draggable-ring {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: grab;
    user-select: none;
}

/* Disposition initiale des anneaux */
.draggable-ring:nth-child(1) {
    top: 50px;
    left: 50px;
}

.draggable-ring:nth-child(2) {
    top: 50px;
    left: 210px;
}

.draggable-ring:nth-child(3) {
    top: 50px;
    left: 370px;
}

.draggable-ring:nth-child(4) {
    top: 140px;
    left: 130px;
}

.draggable-ring:nth-child(5) {
    top: 140px;
    left: 290px;
}